@import '../abstracts/variables';

.btn {
  padding: 0.75em 1.75em;

  border: none;
  border-radius: 12px;
  color: $white;
  background-color: $blue1;
  box-shadow: 0px 4px 12px rgba($blue1, 0.4);
  transition: background-color 0.25s;
  &:hover {
    background-color: darken($blue1, 10%);
  }

  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
